.center {
    background: white;
    margin-top: 10%;
    margin-bottom: 20%;
    margin-left: 30%;
    margin-bottom: 20%;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 5px #888888;
    width: 40%;
    padding: 10px;
}

.navbar-default {
    background: white;
}

.row > div{
    float:left;
    margin:10px;
  }

#profileImage {
    background: white;
    margin-top: 30%;
    
    margin-left: 5%;
    margin-bottom: 20%;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 5px #888888;
    width: 200px;
    height: 200px;
    
    
}

#profileDescription {
    background: white;
    margin-top: 5%;
    
    margin-left: 2%;
    margin-bottom: 20%;
    border: 1px solid;
    box-shadow: 5px 5px #888888;
    width: 600px;
    height: auto;
    padding: 10px;
    
}

#profileSkillsAndEditButton {
    background: white;
    margin-top: 5%;
    
    margin-left: 2%;
    margin-bottom: 20%;
    border: 1px solid;
    box-shadow: 5px 5px #888888;
    width: 400px;
    height: auto;
    padding: 10px;
}

#imageUploader {
    margin-top: 200px;
}

textarea { vertical-align: top; }

img {
    max-width:100%;
    max-height:100%;
    object-fit: contain;
}

#logo {
    width: 200px;
    height: 100px;
}

.Postproject {
    background-color: white;
    width: 100%;
    height: 100%;
}

#holdPostProjectData {
    width:auto;
    height:auto;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 20%;
}